.auth-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.auth-modal {
    position: relative;
    background-color: #A7A29B;
    border-radius: 15px;
    color: #444;
    border: 5px solid #fff;
    width: 360px;
    transform: opacity 0.5s ease;

}

.auth-icon-container {
    display: flex;
    justify-content: center;
}

.auth-icon-container img {
    width: 100px;
    margin: 40px auto 60px;
}

.auth-content-container {
    background-color: #fff;
    border-radius: 67px 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 20px;
}

.auth-title {
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.form-label {
    margin: 0 0 2px 10px;
}

.form-input {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px #444 solid;
    margin-bottom: 15px;
}

.form-input::placeholder {
    opacity: 0.5;
}

.forgot-password {
    font-size: 14px;
    display: flex;
    justify-content: end;
    transition: opacity 0.3s;
}

.forgot-password:hover {
    opacity: 0.6;
}

.auth-button {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #a7a29b;
    font-weight: 600;
    font-size: 20px;
    margin: 40px auto;
    color: #fff;
    transition: opacity 0.3s;
}

.auth-button:hover {
    opacity: 0.6;
}

.auth-register-prompt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.auth-register-link {
    color: #444;
    font-weight: 600;
    margin-left: 2px;
    transition: opacity 0.3s;
}

.auth-register-link:hover {
    opacity: 0.6;
}

.close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    padding: 0;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
}

.close-btn :nth-child(1) {
    transform: rotate(45deg);
}

.close-btn :nth-child(2) {
    transform: rotate(-45deg);
}

.opened {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .close-btn {
        opacity: 1;
    }
}

@media (max-width: 460px) {
    .auth-icon-container img {
        margin: 30px auto 50px;
    }

    .auth-button {
        margin: 35px auto;
    }
}

@media (max-width: 400px) {
    .auth-modal {
        width: 90%;
    }
}

@media (max-width: 360px) {
    .auth-button {
        width: 290px;
    }

    .form-group {
        width: 290px;
    }
}

@media (max-width: 340px) {
    .auth-button {
        width: 270px;
    }

    .form-group {
        width: 270px;
    }
}

@media (max-width: 300px) {
    .auth-button {
        width: 250px;
    }

    .form-group {
        width: 250px;
    }
}