.cart-nav {
    width: 45%;
}

.cart-input {
    padding-right: 10px;
}

.cart-link {
    margin-right: 0;
}

.cart__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    padding: 22.5px 0px 19.5px;
    text-align: center;
}


.cart__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1162px;
    margin: 0 auto;
}

.cart__items-container {
    padding: 8px 16px 0px;
}

.cart__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    position: relative;
    display: flex;
    min-height: 180px;
    margin-bottom: 16px;
    padding: 24px;
    border: 1px solid #e9e7e7;
    border-radius: 16px;
}

.cart__item-img {
    display: flex;
    align-items: center;
}

.cart__item-img img {
    width: 138px;
}

.cart__item-info {
    width: 100%;
    margin-left: 28px;
    padding-left: 4px;
}

.cart__item-name {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
}

.cart__item-color {
    margin: 0;
}

.cart__item-controls {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    width: 152px;
    margin-left: 16px;
}

.cart__item-actions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 8px;
    padding: 6px 0px;
}

.cart__item-btn {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 25px;
    padding: 0;
}

.cart__item-btn img {
    width: 18px;
    margin-top: 2px;
}

.cart__item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

.cart__items-container p {
    margin: 0;
}

.cart-summary {
    padding: 0px 8px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    height: 48px;
    font-weight: 600;
    font-size: 18px;
}

.subtotal {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
}

.discount {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #D97700;
}

.checkout-button {
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 16px;
    padding: 10px 8px 10.5px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    background: #A7A29B;
}

.wishlist__container {
    display: flex;
    justify-content: center;
    max-width: 1162px;
    margin: 0 auto;
}

.wishlist__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(268px, 1fr));
    grid-gap: 32px 32px;
    padding-bottom: 24px;
}

.wishlist__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishlist__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 279px;
}

.wishlist__item-img img {
    width: 180px;
}

.wishlist__item-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 25px;
    padding: 0;
}

.wishlist__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishlist__item-info p {
    margin: 0;
    margin-bottom: 2px;
}

.wishlist__item-name {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    height: 60px;
}

.wishlist__item-price {
    margin-top: 25px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlist__item-sale {
    display: flex;
    gap: 10px;
}

.wishlist__btn {
    display: flex;
    justify-content: center;
}

.wishlist__btn button {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    width: 143px;
    padding: 7px 8px 6.5px;
    border-radius: 6px;
    border: none;
    color: #FFF;
    background: #A7A29B;
}

.promo-container {
    display: flex;
    margin-top: 8px;
    width: 100%;
}

.promo-wrapper {
    width: 100%;
    min-height: 54px;
    border: 1px solid #D97700;
    border-radius: 6px;
    background-color: transparent;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D97700;
}

.promo-wrapper p {
    margin: 0;
    text-align: center;
    padding: 5px;
}

.promo-details {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    cursor: pointer;
}

@media (max-width: 930px) {
    .wishlist__wrapper {
        grid-template-columns: repeat(3, minmax(164px, 1fr));
        grid-gap: 20px 20px;
    }
}

@media (max-width: 780px) {
    .cart__container {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .cart__item {
        min-height: 160px;
    }

    .cart-summary {
        padding: 0px 16px;
    }

    .cart__item-controls {
        width: auto;
    }
}

@media (max-width: 740px) {
    .wishlist__item-img img {
        width: 150px;
    }

    .wishlist__item-name {
        font-size: 18px;
        height: 54px;
        max-width: 164px;
        text-align: center;
    }

    .wishlist__item-img {
        min-height: 259px;
    }

    .wishlist__item {
        font-size: 14px;
    }

    .wishlist__item-btn {
        top: 0px;
        right: 0px;
    }
}

@media (max-width: 620px) {
    .cart__container {
        margin: 0;
    }

    .cart__item {
        padding: 14px;
    }
}

@media (max-width: 560px) {
    .wishlist__wrapper {
        grid-template-columns: repeat(2, minmax(164px, 1fr));
    }
}

@media (max-width: 520px) {
    .cart__item {
        flex-direction: column;
    }

    .cart__item-img {
        margin-top: 20px;
    }

    .cart__item-info {
        margin-left: 0;
        margin-top: 10px;
        padding-left: 0;
    }

    .cart__item-controls {
        position: absolute;
        top: 10px;
        right: 14px;
    }

    .cart__item-price {
        margin-top: 132px;
    }

    .wishlist__item {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .wishlist__wrapper {
        grid-template-columns: repeat(1, minmax(164px, 1fr));
    }
}