body {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif !important;
    margin: 0 auto;
    background-color: #f8f7f6;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    background: #DED9D3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1162px;
    margin: 0 auto;
    padding: 16px 0;
}

.header__logo {
    margin-left: 20px;
}

.logo-img {
    max-width: 190px;
    max-height: 90px;
}

.header__nav {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 24px;
    font-size: 13px;
    line-height: 20px;
    color: #444444;
}

.menu-item {
    padding: 7px 0 4px;
}

.menu-item:hover {
    color: #666;
}

.header__search {
    display: flex;
    background: #F8F7F6;
    border-color: transparent;
    height: 41px;
    transition: all 0.3s ease-out;
    border-radius: 2px;
    position: relative;
    box-shadow: none !important;
}

.search-input {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif !important;
    padding: 10px 45px 9px 13px;
    background: #F8F7F6;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #444444;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

.search-icon {
    width: 18px;
    height: 18px;
    background: url(./img/search-icon.svg) no-repeat;
    position: absolute;
    top: 11px;
    right: 11px;
    border: 0px;
    color: transparent;
    transition: opacity 0.3s;
}

.search-icon:hover {
    opacity: 0.6;
}

.cart-actions {
    display: flex;
    gap: 24px;
}

.user-actions {
    margin-right: 20px;
    height: 24px;
    transition: opacity 0.3s;
}

.user-actions:hover {
    opacity: 0.6;
}

.action-btn {
    max-width: 24px;
    max-height: 24px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.header__tools {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 67px;
    position: fixed;
    right: 0;
    top: 176px;
    border-radius: 2px 0 0 2px;
    z-index: 98;
}

.header__tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    background-color: #DED9D3;
    border: 1px solid #f8f7f6;
    border-radius: 2px 0 0 2px;
}

.header-tools__links {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    position: relative;

}

.header-wishlist__link {
    background: url(./img/wishlist-icon.svg) no-repeat;
}

.header-cart__link {
    background: url(./img/cart-icon.svg) no-repeat;
}

.header-tools__count {
    position: absolute;
    right: -13px;
    top: -15px;
    left: auto;
    text-align: center;
    opacity: 1;
    font-size: 13px;
    line-height: 20px;
    width: 22px;
    height: 19px;
    border-radius: 20px;
    background: #F8F7F6;
    color: #1d1a1a;
}

.mobile-menu {
    display: none;
}

@media (max-width: 950px) {
    .header-container {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .header__logo {
        order: 1;
        flex: 1;
        margin-left: 32px;
    }

    .header__search {
        order: 2;
        min-width: 40%;
        margin-right: 26px;
    }

    .user-actions {
        order: 3;
        margin-right: 32px;
    }

    .header__nav {
        order: 4;
        width: 100%;
        justify-content: space-around;
        font-size: 15px;
        border-top: 1px solid #F8F7F6;
        padding-top: 15px;
    }
}

@media (max-width: 560px) {

    .header-container {
        padding-bottom: 0;
    }

    .header__search {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        order: 4;
        width: 100%;
        min-height: 44px;
        background: #A7A29B;
        position: relative;
    }

    .mobile-menu__search {
        display: flex;
        position: relative;
        width: 45%;
        border: none;
        border-radius: 0;

    }

    .search-input {
        border: none;
        border-radius: 0;
    }

    .search-icon {
        top: 15px;
    }

    .mobile-menu__trigger {
        position: relative;
        padding: 11px 0 11px 15px;
        background-color: transparent;
        border: none;
        display: flex;
        width: 51px;
        transform-origin: center;
        vertical-align: middle;
        transition: transform 0.3s, opacity .3s ease;
    }

    .burger-line {
        position: absolute;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        background: #f8f7f6;
        transition: all 0.3s ease;
    }

    .burger-line:nth-child(2) {
        transform: translateY(10px);
    }

    .burger-line:nth-child(3) {
        transform: translateY(20px);
    }

    .header__tools {
        order: 2;
        position: static;
        flex-direction: row;
        gap: 15px;
        margin-right: 32px;
    }

    .header__tools-container {
        border: none;

    }

    .mobile-menu__nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #F8F7F6;
        z-index: 100;
        border-top: 1px solid #A7A29B;
    }

    .mobile-menu__nav a {
        padding: 10px 0 10px 15px;
        font-size: 13px;
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 99;
        display: none;
    }

    .mobile-menu.open .mobile-menu-overlay {
        display: block;
    }

    .mobile-menu.open .mobile-menu__nav {
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }

    .mobile-menu.open .burger-line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .mobile-menu.open .burger-line:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.open .burger-line:nth-child(3) {
        transform: translateY(10px) rotate(-45deg);
    }
}

@media (max-width: 460px) {

    .logo-img {
        max-width: 160px;
    }

    .header__logo {
        margin-left: 15px;
    }

    .user-actions {
        margin-right: 15px;
    }
}


@media (max-width: 380px) {

    .header__tools {
        gap: 10px;
        margin-right: 22px;
    }
}

@media (max-width: 360px) {

    .logo-img {
        max-width: 160px;
    }
}