@import url(./header.css);
@import url(./catalog.css);
@import url(./auth.css);

.hero {
    width: 100%;
    max-width: 1960px;
    height: 800px;
    margin: 0 auto;
    background-image: url(./img/hero.jpg) !important;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.wrapper-inner {
    max-width: 1172px;
    padding: 42px 0 0;
    text-align: center;
    margin: 0 auto;
}

.home-catalog__title {
    font-size: 44px;
    font-weight: 400;
    margin: 0 0 24px;
}

.product-recommendations {
    background: #ded9d3;
    margin-top: 50px;
}

.product-recommendations__container {
    padding: 32px 15px 2px;
    max-width: 1162px;
    margin: 0 auto;
}

.product-recommendations-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.product-recommendations__item {
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    padding: 0px 0px 5px 0px;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.3s;
}

.product-recommendations__item:hover {
    opacity: 0.6;
}

.active {
    border-bottom: 2px solid #6a6a6a;
    cursor: default;
}

.active:hover {
    opacity: 1;
}

.product-recommendations__grid {
    margin: 26px 0 35px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    gap: 20px;
    min-height: 350px;
}

.hidden {
    display: none;
}

.product-card {
    position: relative;
    flex: 0 0 auto;
    scroll-snap-align: start;
    background-color: #fff;
    padding: 20px 20px 12px;
    min-height: 310px;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

.product-cart__img {
    width: 170px;
    height: 170px;
}

.product-card__title {
    max-width: 170px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(79, 77, 77);
    margin: 9px 0 0;
}

.product-card__price {
    max-width: 170px;
    font-size: 18px;
    font-weight: 600;
    line-height: 15px;
    color: #818181;
    margin: 8px 0 28px;
}

.product-card__price span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    padding-left: 10px;
}

.sale {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px 10px;
    background-color: #ff9f2b;
}

.sale p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #3b3a38;
}

.product-card__button {
    border-radius: 2px;
    text-align: center;
    padding: 9px 13px 8px;
    color: #F8F7F6;
    background: #89837C;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.product-card:hover .product-card__button {
    opacity: 1;
    visibility: visible;
}

.home-about__container {
    display: flex;
    padding: 0 15px;
    max-width: 1162px;
    margin: 0 auto;
}

.home-about__img-container {
    width: 50%;
    padding: 35px 10px 0px 0px;
    text-align: center;
    overflow: hidden;
}

.home-about__img {
    max-width: 100%;
    width: 512px;
    height: 100%;
}

.home-about__content {
    width: 48%;
    padding: 50px 0px 56px 10px;
}

.home-about__title {
    margin: 2px 0px 25px;
    font-size: 20px;
    color: #1d1a1a;
    line-height: 30px;
    font-weight: 500;
}

.home-about__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #818181;
}

.home-about__text p {
    margin: 0;
    margin-bottom: 20px;
}

.home-about__link {
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0px 0px;
    display: flex;
    color: #4f4d4d;
    transition: opacity 0.3s;
}

.home-about__link:hover {
    opacity: 0.6;
}

.home-about__link-img {
    width: 12px;
    margin: 0 7px 1px 0;
}

.footer {
    min-height: 150px;
    margin-top: 50px;
    border-top: 1px solid #DED9D3;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 35px 15px 0;
    max-width: 1162px;
    margin: 0 auto;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.footer__social-icon {
    width: 35px;
    transition: opacity 0.3s;
}

.footer__social-icon:hover {
    opacity: 0.9;
}

.footer__phone {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__phone-icon {
    width: 20px;
}

@media (hover: none),
(pointer: coarse) {
    .product-card .product-card__button {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .home-catalog__title {
        font-size: 38px;
    }

    .home-about__img-container {
        display: none;
    }

    .home-about__content {
        width: 90%;
    }
}

@media (max-width: 560px) {
    .home-catalog__title {
        font-size: 34px;
    }

    .home-about__content {
        width: 100%;
    }

    .home-about__title {
        margin: 0px 0px 20px;
    }
}

@media (max-width: 370px) {
    .product-recommendations__item {
        font-size: 15px;
    }

    .product-recommendations-nav {
        gap: 25px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__contacts {
        margin: 0 auto 15px;
    }

    .footer__copyright {
        margin: 15px 0 20px;
    }

}